{
  "extends": "airbnb",
  "env": {
    "es6": true
  },
  "parser": "babel-eslint",
  "rules": {
    "indent": [ "warn", 4 ],
    "semi": [ "error", "never" ],
    "comma-dangle": [ "error", "never" ],
    "no-underscore-dangle": "off",
    "no-param-reassign": "off",
    "strict": "off",
    "no-plusplus": "off"
  }
}
